from datetime import timedelta

JWT_ACCESS_TOKEN_EXPIRES = timedelta(hours=1)   # Token expiry in hours
JWT_COOKIE_SECURE = False
JWT_SECRET_KEY = "your_secret_key"
JWT_TOKEN_LOCATION = ["cookies"]
MONGODB_DB = 'messenger'
MONGODB_HOST = 'localhost'
MONGODB_PORT = 27017
WEBSOCKET_ALLOWED_ORIGINS = ['http://localhost:3000', 'http://10.0.0.55:3000']
